%h4.ui.center.aligned.medium.icon.header
  %i.circular.orange.comments.icon
  Say something

%div.ui.two.column.grid
  %div.twelve.wide.column
    %div.ui.fluid.raised.card.chatbox
      %div.content
        %div.ui.feed
          = render 'messages/message'

      %div.extra.content
        %form.ui.reply.form
          %div.field
            %div.ui.fluid.icon.input
              %input{ type: "text", placeholder: "Enter a message..." }
              %i.bordered.inverted.orange.edit.icon

  %div.four.wide.column
    %div.ui.fluid.raised.card.chatbox
      %div.content
        %div.ui.inverted.vertical.menu
          %a.active.item
            Home
          %a.item
            Messages
          %a.item
            Friends
