%a.item
  Chatroom
%a.item
  Messages
%div.right.menu
  %div.ui.dropdown.item
    Account
    %i.dropdown.icon
    %div.menu
      %a.item
        Log out
      %a.item
        Log in
      %a.item
        Sign up
  %div.item
    %div.ui.primary.button
      Sign up
