= link_to 'Chatroom', root_path, class: 'item'
%a.item
  Messages
%div.right.menu
  %div.ui.dropdown.item
    Account
    %i.dropdown.icon
    %div.menu
      %a.item
        Log out
      = link_to 'Log in', login_path, class: 'item'
      %a.item
        Sign up
  %div.item
    %div.ui.primary.button
      Sign up
